<div>
  <div class="d-flex justify-content-between">
    <%= link_to profile_path do %>
      <%= image_tag "default-avatar.jpg", class: "rounded-circle border-picture", width: 50, height: 50, style: "object-fit: cover" %>
    <% end %>
  <div class="d-flex align-items-center">

    <div data-controller= "cellar-show-button">
      <button data-action="click->cellar-show-button#open", class="border-0 background">
        <i class="material-icons material-symbols-sharp">apps</i>
      </button>

      <div class="d-none slot-selector" data-cellar-show-button-target="cellarShow">
        <div class="cellar-grid">

          <%= link_to root_path do %>
            <i class="material-icons material-symbols-sharp", style= "position: absolute; right: 0; transform: translateX(-35px); top: 25px;">close</i>
          <% end %>

          <div class="mb-3">
            <div>
            <h3 class="label-slot-id"> Ma cave </h3>
                <p><%= "#{@bottles.size} bouteilles | #{@cellar.slots.size} cellules" %></p>
            </div>

            <% @all_slots.each do |slot| %>
              <% if slot.bottle.present? %>
                <%= link_to bottle_path(slot.bottle) do %>
                  <span class="badge <%= color_class(slot.bottle.kind) %>">
                    <%= slot.name %>
                  </span>
                <% end %>
                <% else %>
                  <div class="form-check">
                    <%= link_to slot.name, new_bottle_path(slot: slot) %>
                  </div>
                <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <%= link_to new_bottle_path, class: "affichage-block" do %>
      <i class="material-icons material-symbols-sharp">add</i>
    <% end %>
    </div>
  </div>
</div>

  <div class="d-flex justify-content-center padding-logo">
      <%= image_tag "Logo-cavinum.png" %>
  </div>

  <div class="d-flex justify-content-left search-border">
    <%= form_with url: root_path, method: :get, class: "search-bar d-flex align-items-center" do %>
    <div class="d-flex">
      <%= text_field_tag :query, params[:query], class: "form-control search-input background border-0 input", placeholder: "Rechercher une bouteille" %>
      <button type="submit" class="bg-transparent border-0 btn-position">
        <i class="material-icons" style="font-size: 30px; color: black;">search</i>
      </button>
      <% end %>
    </div>
  </div>


  <div>
    <h3 class="padding-vitrine">Vitrine</h3>
    <div class="carousel-home">
      <div class="d-flex gap-vitrine position-relative">
        <% @bottles.order(created_at: :desc).limit(5).each do |bottle| %>
          <%= link_to bottle_path(bottle), class: "text-decoration-none" do %>
            <div class="card-vitrine background-darker">
              <% if bottle.photo.attached? %>
                <%= cl_image_tag(bottle.photo.key, class: "card-vitrine-photo") %>
              <% end %>
              <div class="position-absolute" style="margin-left: 148px; margin-top: -185px">
                <% if bottle.slot.present? %>
                  <span class="badge <%= color_class(bottle.kind) %>">
                      <%= bottle.slot.name %>
                    </span>
                <% end %>
              </div>
              <div class="card-description">
                <div><strong><%= bottle.name %></strong></div>
                <div><%= bottle.appellation %></div>
                <div><%= bottle.variety %> - <%= bottle.vintage %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <h3 class="padding-ma-cave">Ma cave</h3>
    <div class="carousel-cave">
      <div class="d-flex flex-column gap-ma-cave">
        <% current_user.cellar.slots.each do |slot| %>
          <% if slot.bottle.present? %>
            <%= link_to bottle_path(slot.bottle), class: "text-decoration-none" do %>
              <div class="background-darker card-ma-cave card-description">
                <div class="position-relative">
                  <div class="position-absolute"><strong><%= slot.bottle.name %></strong><br><%= slot.bottle.appellation %></div>
                  <div class="position-absolute" style="right: 1px; top: -8px;">
                    <span class="badge <%= color_class(slot.bottle.kind) %>">
                      <%= slot.name %>
                    </span>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
