<div>
  <h1>Bienvenue <%= current_user.first_name %> !</h1>
</div>

<div>
  <input type="text" placeholder="Appellation, nom, cépage..">
  <button type="submit">Rechercher</button>
</div>

<div>
  <h3>Ma cave</h3>

  <% current_user.cellar.slots.each do |slot| %>
    <% if slot.bottle.present? %>
      <div class="bottle-card">
        <%= cl_image_tag(slot.bottle.photo.key, width: 400, height: 300, crop: :fill) %>
        <p><strong><%= slot.bottle.name %></strong></p>
        <p><%= slot.bottle.appellation %> - <%= slot.bottle.variety %></p>
        <p><%= slot.name %> (Emplacement)</p>
      </div>
    <% end %>
  <% end %>

</div>
