<div>
  <div class="d-flex justify-content-between align-items-center p-4">
    <%= link_to profile_path do %>
      <%= image_tag "default-avatar.jpg", class: "rounded-circle border border-3", width: 50, height: 50, style: "object-fit: cover" %>
    <% end %>
  <div>

  <div data-controller= "cellar-show-button">
    <button data-action="click->cellar-show-button#open">
      <i class="material-icons material-symbols-sharp">apps</i>
    </button>

    <div class="d-none slot-selector" data-cellar-show-button-target="cellarShow">
      <div class="cellar-grid">

        <%= link_to root_path do %>
          <i class="material-icons material-symbols-sharp", style= "position: absolute; right: 0; transform: translateX(-35px); top: 25px;">close</i>
        <% end %>

        <div class="mb-3">
          <div>
           <h3 class="label-slot-id"> Ma cave </h3>
              <p><%= "#{@bottles.size} bouteilles | #{@cellar.slots.size} cellules" %></p>
          </div>

          <% @all_slots.each do |slot| %>
            <% if slot.bottle.present? %>
              <%= link_to bottle_path(slot.bottle) do %>
                <span class="badge <%= color_class(slot.bottle.kind) %>">
                  <%= slot.name %>
                </span>
                <% end %>
              <% else %>
                <div class="form-check">
                  <%= link_to slot.name, new_bottle_path(slot: slot) %>
                  </div>
              <% end %>
          <% end %>
        </div>

        </div>
      </div>
    </div>
    </div>
    <%= link_to new_bottle_path do %>

      <i class="material-icons material-symbols-sharp">add</i>
    <% end %>
  </div>
</div>

  <div class="d-flex justify-content-center p-4">
    <h1>Bonjour <%= current_user.first_name %> </h1>
  </div>

  <div class="d-flex justify-content-center search-border">
    <%= form_with url: root_path, method: :get, class: "search-bar d-flex align-items-center" do %>
    <div class="d-flex">
      <%= text_field_tag :query, params[:query], class: "form-control search-input background border-0", placeholder: "Rechercher une bouteille" %>
      <button type="submit" class="background border-0">
        <i class="material-icons" style="font-size: 28px;">search</i>
      </button>
      <% end %>
    </div>
  </div>


  <div class="container mt-4">
    <h3 class="ms-1">Vitrine</h3>
    <div class="carousel-home">
      <div class="d-flex gap-3">
        <% @bottles.order(created_at: :desc).limit(5).each do |bottle| %>
          <%= link_to bottle_path(bottle), class: "text-decoration-none" do %>
            <div class="card background-darker p-2" style="width: 180px; height: 300px; border-radius: 10px;">
              <% if bottle.photo.attached? %>
                <%= cl_image_tag(bottle.photo.key, width: 145, height: 160, crop: :fill, class: "card-img-top") %>
              <% end %>
              <div class="card-body text-center">
                <h5><strong><%= bottle.name %></strong></h5>
                <p><%= bottle.appellation %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ms-3">
    <h3 class="ms-1 pt-2">Ma cave</h3>
    <div class="carousel-cave">
      <div class="d-flex flex-column">
        <% current_user.cellar.slots.each do |slot| %>
          <% if slot.bottle.present? %>
            <%= link_to bottle_path(slot.bottle), class: "text-decoration-none" do %>
              <div class="card p-3 m-1 background-darker" style="width: 355px; height: 80px; border-radius: 10px 50px 50px 10px;">
                <div class="position-relative">
                  <p class="position-absolute"><strong><%= slot.bottle.name %></strong><br><%= slot.bottle.appellation %></p>
                  <p class="position-absolute" style="right: 0;">
                    <span class="badge <%= color_class(slot.bottle.kind) %>">
                      <%= slot.name %>
                    </span>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
