<div class="background body">
  <div class="m-4 d-flex justify-content-between">
    <%= link_to bottle_path(@bottle) do %>
      <i class="material-icons material-symbols-sharp">west</i>
    <% end %>
    <%= link_to root_path do %>
      <i class="material-icons material-symbols-sharp">close</i>
      <% end %>
  </div>
  <div class= "mt-4">
    <%= simple_form_for(@bottle) do |f| %>
      <%= f.input :photo, placeholder: "Ajouter une photo", input_html: {class: "background input"} %>
      <%= f.input :name, placeholder: "Nom", input_html: {class: "background input"} %>
      <%= f.input :appellation, placeholder: "Appellation", input_html: {class: "background input"} %>
      <%= f.input :kind, collection: ["Blanc", "Rouge", "Rosé"], prompt: "Selectionner un type", input_html: {class: "background input"} %>
      <%= f.input :vintage, placeholder: "Quelle année", input_html: {class: "background input"} %>
      <%= f.input :area, placeholder: "Quelle région", input_html: {class: "background input"} %>
      <%= f.input :variety, placeholder: "Quel cépage", input_html: {class: "background input"} %>
      <%= f.input :notes, placeholder: "Ajouter une description", input_html: {class: "background input"} %>

    <div data-controller= "wine-cellar-slot">
      <button class="btn btn-secondary btn-lg"
       data-action="click->wine-cellar-slot#open">
      Choisir l'emplacement de la bouteille
      </button>

  <div class="d-none slot-selector" data-wine-cellar-slot-target="radioButtons">
    <div class="cellar-grid">
       <%= link_to edit_bottle_path(@bottle) do %>
              <i class="material-icons material-symbols-sharp", style= "position: absolute; right: 0; transform: translateX(-35px); top: 25px;">close</i>
            <% end %>
      <div class="mb-3">
        <%= f.label :slot_id, "Emplacements disponibles", class: "label-slot-id" %>
        <%= f.collection_radio_buttons :slot_id, @available_slots, :id, :name do |s| %>
          <div class="form-check">
            <%= s.radio_button(class: "form-check-input") %>
            <%= s.label(class: "form-check-label") %>
          </div>
        <% end %>
      </div>

      <%= f.button :submit, "Valider l'emplacement" %>
  </div>

  </div>

    <% end %>
  </div>
</div>
