<div class="background body">
  <div class="m-4 d-flex justify-content-between">
    <%= link_to bottle_path(@bottle) do %>
      <i class="fa-solid fa-left-long fa-2xl" style="color: #000000;"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fa-solid fa-xmark fa-2xl" style="color: #000000;"></i>
      <% end %>
  </div>
  <div class= "mt-4">
    <%= simple_form_for(@bottle) do |f| %>
      <%= f.input :photo, placeholder: "Ajouter une photo" %>
      <%= f.input :name, placeholder: "Nom" %>
      <%= f.input :appellation, placeholder: "Appellation" %>
      <%= f.input :kind, collection: ["Blanc", "Rouge", "Rosé"], prompt: "Selectionner un type" %>
      <%= f.input :vintage, placeholder: "Quelle année" %>
      <%= f.input :area, placeholder: "Quelle région" %>
      <%= f.input :variety, placeholder: "Quel cépage" %>
      <%= f.input :notes, placeholder: "Ajouter une description" %>
      <%= f.button :submit, "Modifier la bouteille", class:"black-button" %>
    <% end %>
  </div>
</div>
