<div class="background">
  <div class="d-flex justify-content-between">
    <%= link_to root_path do %>
      <i class="material-icons material-symbols-sharp">west</i>
    <% end %>
  </div>

  <div>
      <%= simple_form_for(@bottle) do |f| %>
        <%= f.input :photo, placeholder: "Ajouter une photo", input_html: {class: "background input border-input"} %>
        <%= f.input :name, placeholder: "Nom", input_html: {class: "background input border-input"} %>
        <%= f.input :appellation, placeholder: "Appellation", input_html: {class: "background input border-input"} %>
        <%= f.input :kind, collection: ["Blanc", "Rouge", "Rosé"], prompt: "Selectionner un type", input_html: {class: "background input border-input"} %>
        <%= f.input :vintage, placeholder: "Millésime", input_html: {class: "background input border-input"} %>
        <%= f.input :area, placeholder: "Région", input_html: {class: "background input border-input"} %>
        <%= f.input :variety, placeholder: "Cépage", input_html: {class: "background input border-input"} %>
        <%= f.input :notes, placeholder: "Notes", input_html: {class: "background input border-input"} %>


      <div data-controller= "wine-cellar-slot">
        <div class="d-flex justify-content-between position-relative" style= "top: 33px;">
          <button class="small-button small-button-black"
          data-action="click->wine-cellar-slot#open">
          Emplacement
          </button>
          <%= f.submit "Ajouter", class: "small-button button-black" if @bottle.slot.present? %>
        </div>
        <div class="d-none slot-selector" data-wine-cellar-slot-target="radioButtons">
          <div class="cellar-grid-new">

            <%= link_to new_bottle_path do %>
              <i class="material-icons material-symbols-sharp", style= "position: absolute; right: 0; transform: translateX(-50px); top: 50px;">close</i>
            <% end %>
            <div class="mb-3">
              <%= f.label :slot_id, "Choisissez un emplacement", class: "label-slot-id" %>
              <%= f.collection_radio_buttons :slot_id, @all_slots, :id, :name do |s| %>
                <div class="form-check">
                  <%= s.radio_button(class: "form-check-input", disabled: s.object.bottle.present?) %>
                  <%= s.label(class: "form-check-label empty-slot-new") %>
                </div>
              <% end %>
            </div>

            <%= f.button :submit, "Valider l'emplacement", class: "button button-black", style: "margin-top: 150px" %>

          </div>
        </div>
      <% end  %>
      </div>
  </div>
</div>
