<div class="background">
  <div class="d-flex m-4 justify-content-between">
   <%= link_to root_path do %>
      <i class="material-icons material-symbols-sharp">west</i>
    <% end %>
    <%= link_to root_path do %>
      <i class="material-icons material-symbols-sharp">close</i>
      <% end %>
    </div>
  <div class= "mt-4">
    <%= simple_form_for(@bottle) do |f| %>
      <%= f.input :photo, placeholder: "Ajouter une photo", input_html: {class: "background"} %>
      <%= f.input :name, placeholder: "Nom", input_html: {class: "background"} %>
      <%= f.input :appellation, placeholder: "Appellation", input_html: {class: "background"} %>
      <%= f.input :kind, collection: ["Blanc", "Rouge", "Rosé"], prompt: "Selectionner un type", input_html: {class: "background"} %>
      <%= f.input :vintage, placeholder: "Millésime", input_html: {class: "background"} %>
      <%= f.input :area, placeholder: "Région", input_html: {class: "background"} %>
      <%= f.input :variety, placeholder: "Cépage", input_html: {class: "background"} %>
      <%= f.input :notes, placeholder: "Notes", input_html: {class: "background"} %>

   <div class="mb-3">
        <%= f.label :slot_id, "Emplacement disponible" %>
        <%= f.collection_radio_buttons :slot_id, @available_slots, :id, :name do |s| %>
          <div class="form-check">
            <%= s.radio_button(class: "form-check-input") %>
            <%= s.label(class: "form-check-label") %>
          </div>
        <% end %>
      </div>


 <div data-controller= "wine-cellar-slot">
  <button class="btn btn-secondary btn-lg"
  data-action="click->wine-cellar-slot#open">
      Choisir l'emplacement de la bouteille
    </button>

  <div class="d-none slot-selector" data-wine-cellar-slot-target="radioButtons">
    <div class="cellar-grid">
  <%= f.association :slot, as: :radio_buttons %>
  <%= f.button :submit, "Valider" %>
  <button class="btn btn-secondary"><%= link_to "Annuler", new_bottle_path%></button>
  </div>

  </div>
    <%= f.button :submit, "Créer la bouteille", class: "black-button" %>

<% end %>
</div>
</div>
</div>
