<%= @bottle.photo.attached? ? image_tag(@bottle.photo, style: "height: 248px; width: 248px; object-fit: cover; border-radius: 10px; margin: auto") : image_tag(@bottle.photo_url, style: "height: 248px; width: 248px; object-fit: cover; border-radius: 10px; margin: auto") %>

<h4><b><%= @bottle.name %></b></h4>
<p><%= @bottle.appellation%></p>
<p><%= @bottle.type %></p>
<p><%= @bottle.vintage %></p>
<p><%= @bottle.area %></p>
<p><%= @bottle.variety %></p>
<p><%= @bottle.notes %></p>
<div class= "mb-3">

</div>
<div class= "mb-3">
<%= link_to "Retour vers ma cave", bottles_path %>
<%= link_to "Modifier une bouteille", edit_bottle_path(@bottle) %>
<%= link_to "Supprimer une bouteille", bottle_path(@bottle), data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr?" } %>
</div>
