<div class="background">
  <div class="d-flex justify-content-between align-item-center">
    <%= link_to root_path do %>
      <i class="material-icons material-symbols-sharp">west</i>
    <% end %>
    <%= link_to edit_bottle_path(@bottle) do %>
      <i class="material-icons material-symbols-sharp">edit</i>
      <% end %>
  </div>
    <div>
      <%= cl_image_tag(@bottle.photo.key, class:"picture-bottle") if @bottle.photo.attached? %>
      <div class="text-bottle position-relative">
        <div class="paragraph-div"><%= @bottle.appellation%></div>
          <h3><%= @bottle.name %></h3>
          <p class="paragraphe-margin"><%= @bottle.area %> | <%= @bottle.variety %> | <%= @bottle.vintage %></p>

        <div class="description-bottle">
          <p><%= @bottle.notes %></p>
        </div>
        <% if @bottle.slot.present? %>
            <span class="badge position-absolute border-pastille <%= color_class(@bottle.kind) %>", style="top: -25px; left: 162px">
              <%= @bottle.slot.name %>
            </span>
        <% else %>
          <p>Pas d'emplacement attribué</p>
        <% end %>
      </div>
    </div>
    <div>
      <%= link_to "Supprimer la bouteille", bottle_path(@bottle), data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr?" }, class: "button button-red position-relative", style: "top: 70px;" %>
    </div>
</div>
