<div class="container body">
  <div class="m-4 d-flex justify-content-between">
    <%= link_to root_path do %>
      <i class="material-icons material-symbols-sharp">west</i>
    <% end %>
    <%= link_to edit_bottle_path(@bottle) do %>
      <i class="material-icons material-symbols-sharp">edit</i>
      <% end %>
  </div>
    <div class="card background-darker mx-auto p-3 text-center ">
      <%= cl_image_tag(@bottle.photo.key, class: "p-2",style: "height: 248px; width: 248px; object-fit: cover; border-radius: 20px; margin: auto") if @bottle.photo.attached? %>

      <h4><b><%= @bottle.name %></b></h4>
      <p><%= @bottle.appellation%></p>
      <p><%= @bottle.kind %></p>
      <p><%= @bottle.vintage %></p>
      <p><%= @bottle.area %></p>
      <p><%= @bottle.variety %></p>
      <p><%= @bottle.notes %></p>

       <% if @bottle.slot.present? %>
        <p>
          <span class="badge <%= color_class(@bottle.kind) %>">
            <%= @bottle.slot.name %>
          </span>
        </p>
        <% else %>
          <p>Pas d’emplacement attribué</p>
        <% end %>
    </div>
    <div class= "m-4">
      <%= link_to "Supprimer la bouteille", bottle_path(@bottle), data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr?" }, class: "button button-black position-relative", style: "top: 80px; right: 13px;" %>
    </div>
</div>
