<div class="container text-center p-4 body">
  <div class="d-flex align-items-center">
    <%= link_to root_path, class: "btn btn-primary" do %>
      <i class="fa-solid fa-left-long"></i> <!-- Icône Bootstrap -->
    <% end %>
    <h1 class="flex-grow-1">Mon Profil</h1>
  </div>

    <%= image_tag "default-avatar.jpg", class: "rounded-circle border border-3", width: 150, height: 150, style: "object-fit: cover" %>
  <div class="p-4">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  </div>
  <div>
    <p><strong>Email :</strong> <%= @user.email %></p>
  </div>
</div>
