<div class="container text-center body justify-content-center" style="height: 100vh;">
  <div class="d-flex pt-4">
    <%= link_to root_path do %>
      <i class="material-icons material-symbols-sharp">west</i>
    <% end %>
  </div>

    <%= image_tag "default-avatar.jpg", class: "rounded-circle border border-3", width: 150, height: 150, style: "object-fit: cover" %>
    <h1 class="pt-3"><%= @user.first_name %> <%= @user.last_name %></h1>
  <div class="pt-4">
    <p><strong>Nom : </strong><%= @user.first_name %> <%= @user.last_name %></p>
  </div>
  <div>
    <p><strong>Email :</strong> <%= @user.email %></p>
  </div>
  <div>
    <p><strong>Password :</strong> *******</p>
  </div>
  <div class="">
   <% if user_signed_in? %>
      <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "button button-red position-relative", style: "top: 415px; right: 0;" %>
    <% else %>
      <%= link_to "Log In", new_user_session_path %>
    <% end %>
  </div>
</div>
