<!DOCTYPE html>
<html>
  <head>
    <title>Cavinum - Organiser et gérer sa collection de vins n'a jamais été aussi simple !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%# <%= favicon_cavinum %> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="background">
    <div class="background container-app" style="height: 100vh;">
      <div class="background">
        <div class="col-12 col-sm-6">
          <%= render "shared/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
